<div class="container">
    <h1>Đăng ký thất bại</h1>
    <p>Xin lỗi, việc đăng ký của bạn không thành công.</p>
    <p>Vui lòng thử lại sau hoặc liên hệ với quản trị viên để biết thêm thông tin.</p>
    <a href="/auth/signup" class="btn">Đăng ký</a>
</div>
<style>
    body {
        font-family: Arial, sans-serif;
        background-color: #f4f4f4;
        margin: 0;
        padding: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
    }

    .container {
        max-width: 400px;
        padding: 20px;
        background-color: #fff;
        border-radius: 5px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        text-align: center;
    }

    h1 {
        color: #ff3333;
        margin-bottom: 20px;
    }

    p {
        margin-bottom: 20px;
    }

    .btn {
        display: inline-block;
        padding: 10px 20px;
        background-color: rgb(89, 40, 236);
        color: #fff;
        text-decoration: none;
        border-radius: 5px;
        transition: background-color 0.3s ease;
    }

    .btn:hover {
        background-color: rgb(86, 34, 240)
    }
</style>