<footer class="footer mt-4">
            <div class="container">
                <div class="row">
                    <div class="col-xl-3">
                        <h3 class="footer__header">Chăm sóc khách hàng</h3>
                        <ul class="footer-list">
                            <li class="footer-item">
                                <a href="" class="footer-item__link">Trung tâm trợ giúp</a>
                                <a href="" class="footer-item__link">Nvt-shop Mail</a>
                                <a href="" class="footer-item__link">Hướng dẫn mua hàng</a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-xl-3">
                        <h3 class="footer__header">Theo dõi trên</h3>
                        <ul class="footer-list">
                            <li class="footer-item">
                                <a href="https://www.facebook.com/nick.hankecuop.1" class="footer-item__link">
                                    <i class="fab fa-facebook"></i>
                                    Facebook
                                </a>
                                <a href="https://www.instagram.com/thanguyen_24/" class="footer-item__link">
                                    <i class="fab fa-instagram"></i>
                                    Instagram
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-xl-3">
                        <h3 class="footer__header">Thông tin</h3>
                        <ul class="footer-list">
                            <li class="footer-item">
                                <a href="" class="footer-item__link">Thông tin</a>
                                <a href="" class="footer-item__link">Tuyển dụng</a>
                                <a href="" class="footer-item__link">Liên hệ</a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-xl-3">
                        <h3 class="footer__header">Thanh toán</h3>
                        <ul class="footer-list">
                            <li class="footer-item">
                                <a href="" class="footer-item__link">Trung tâm trợ giúp</a>
                                <a href="" class="footer-item__link">Nvt-shop Mail</a>
                                <a href="" class="footer-item__link">Hướng dẫn mua hàng</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </footer>